* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

#container {
  width: 80%;
  margin: auto;
  padding: 3%;
}

#taskInput {
  border: 4px solid rgba(0, 0, 0, 0.479);
  display: block;
  font-size: 120%;
  margin: auto;
  margin-bottom: 5%;
  padding: 0.3em;
  text-align: center;
  width: 80%;
}

#todo {
  width: 80%;
  margin: auto;
  padding: 0;  
}

.task-item > div {
  display: flex;
  align-items: center;

  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
  border-left: 3px solid rgba(1, 1, 1, 0.3);
  border-right: 1px solid rgba(1, 1, 1, 0.3);
  border-top: 1px solid rgba(1, 1, 1, 0.3);
  padding: 1%;
  margin-bottom: 5px;
}

.task-item > ul > li:first-of-type {
  margin-top: -5px;
  border-top: none;
}

ul > li:nth-last-of-type(1) > div{
  /* border-radius: 0 0 0 5px; */
}

.task-item button {
  border: none;
  background: rgba(1, 1, 1, 0);
  cursor: pointer;
  font-size: 0.95rem;
}

.task-item-stub {
  margin-top: -5px;
  width: 40%;
  padding: 3%;
  margin-left: auto;
}

.task-item-stub input {
  width: 100%;
  margin: auto;
  text-align: center;
}

.task-edit, p{
  border-width: 1px;
  margin: 0;
  padding: 3px 0 3px 4px;
  font-size: 85%;
  width: 100%;
}

.task-edit {
  background: whitesmoke;
}

.top-level{
  margin-bottom: 0.8rem;
}

.flex-right {
  flex: 0 0 50%;
  text-align: right;
}

.flex-left {
  flex: 1 1 100%;
}

.collapsed {
  margin-bottom: 1rem;
}

.collapsed ul {
  display: none;
}

.collapsed li {
  margin-bottom: 1rem;
}

.hidden {
  display: none !important;
}

ul {
  list-style-type: none;
  padding-left: 7%;
}

li {
  font-size: 85%;
}

button:focus {
  outline: 0;
}

@media (max-width: 800px) {
  #container {
    width: 100%;
  }

  .task-item-stub {
    width: 90%;
    margin: auto;
    margin-top: -5px;
  }

  #taskInput {
    width: 100%;
  }

  #todo {
    width: 100%;
  }
}