<!-- Task item template -->
<li id="task-item-template" class="task-item" hidden>
  <div>
    <button class="fas fa-caret-down collapse" title="Hide subtasks">
    </button>

    <div class="flex-left">
      <p class="task-title"></p>
      
      <input type="text" class="task-edit hidden">
    </div>

    <div class="flex-right">
      <button class="fas fa-plus add" title="Add new subtask">
      </button>

      <button class="fas fa-edit edit" title="Edit this task">
      </button>

      <button class="fas fa-trash-alt remove" title="Remove this task">
      </button>
    </div>
  </div>


  <div class="task-item-stub hidden">
    <input type="text" placeholder="New task" class="task-item-stub-input">
  </div>


  <ul class="subtask-list"></ul>
</li>